<!DOCTYPE html>
<html>
<head>
  <title>Wendler531</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="top-bar">
    <h1><a class="website-title" href="/">W531</a></h1>

    <section class="top-bar-section">
        <%- if current_user -%>
          <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, :class => "sign-user" %>
        <%- else -%>
          <%= link_to 'Sign Up', new_user_registration_path, :class => "sign-user" %>
          <%= link_to 'Sign In', new_user_session_path, :class => "sign-user" %>
        <%- end -%>
    </section>
  </nav>

  <div class="text-center">
    <div id="flash-messages">
      <%- flash.each do |key, value| -%>
        <div class="flash flash-<%= key %>">
          <h5><%= value %></h5>
        </div>
      <%- end -%>
    </div>
  </div>

  <%= yield %>

  <%= javascript_include_tag 'application' %>

  <%- if Rails.env.development? || Rails.env.test? -%>
    <%= javascript_tag do %>
      window.railsEnv = '<%= Rails.env %>'
    <%- end -%>
  <%- end -%>
  <%= javascript_pack_tag 'application' %>

  <%= yield :extra_footer %>
</body>
</html>
